/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}

/* Variables */
:root {
    --main-color: #54372a;
    --second-color: #d8582e;
    --text-color: #060413;
    --container-color: #f8e4be;
    --bg-color: #f9f6f2;
    --text-alter-color: #94908e;
    --poppins-font: 'Poppins', sans-serif;
    --font-family-2: 'Playfair Display', serif;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

/* ---------------Header-------------- */
header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    background-color: var(--text-color);
    border-radius: 2rem;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--container-color);
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.88rem;
    color: var(--text-alter-color);
    font-family: var(--poppins-font);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: var(--bg-color);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-icons .bx {
    color: var(--bg-color);
    font-size: 20px;
}
/* Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 23px;
    transition: 0.3s;
}

.move-js .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move-js .line2 {
    opacity: 0;
}

.move-js .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}



/* -----------Home Section---------- */
.home {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--main-color);
}

.home-text p {
    max-width: 300px;
    font-size: 0.94rem;
    font-family: var(--poppins-font);
    margin: 1rem 0 1.5rem;
}

.btn {
    max-width: 160px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    background: var(--text-color);
    border-radius: 2rem;
}

.btn span {
    font-family: var(--poppins-font);
    text-transform: uppercase;
    color: var(--bg-color);
}

.btn .bx {
    font-size: 20px;
    color: var(--bg-color);
    background: var(--second-color);
    padding: 5px;
    border-radius: 50%;
    transform: rotate(60deg);
}

.home-img {
    max-width: 560px;
    width: 100%;
}


/* ----------Services--------- */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.heading h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
    justify-content: space-between;
    gap: 1rem;
}

.ser-box {
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    padding: 35px 20px;
    border-radius: 2rem;
}

.ser-box img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.ser-box p {
    color: var(--container-color);
}





/* ------------Products------------ */
.heading p {
    max-width: 550px;
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--poppins-font);
    margin-top: 1rem;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-between;
    gap: 2rem;
    background: #e8d8cd;
    border-radius: 1.5rem;
    padding: 40px 60px;
}

.product-box {
    position: relative;
    background: #fff8f7;
    padding: 20px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box .heart-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px;
    background: #fff;
    color: var(--second-color);
    border-radius: 50%;
}

.product-box img {
    margin-top: 1.5rem;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.product-box p {
    font-size: 0.7rem;
    font-weight: 500;
    font-family: var(--poppins-font);
    padding: 2px 7px;
    border: 1px solid var(--text-alter-color);
    border-radius: 1rem;
    background: #fff;
    margin: 1rem 0 0.5rem;
}

.product-box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--main-color);
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.product-info span {
    color: var(--main-color);
    font-weight: 500;
}

.product-info .bx {
    padding: 8px;
    background: var(--second-color);
    border-radius: 50%;
    color: var(--bg-color);
    cursor: pointer;
}

.product-info .bx:hover {
    background: var(--main-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* ---------Team-------- */
.team-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.team-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.team-box h2 {
    font-size: 0.94rem;
    font-weight: 500;
    color: var(--main-color);
    font-family: var(--poppins-font);
    margin-top: 1rem;
}

.team-box span {
    font-size: 0.77rem;
    font-weight: 500;
    color: var(--text-alter-color);
    font-family: var(--poppins-font);
}

.team-box p {
    font-size: 0.88rem;
    color: var(--main-color);
    font-family: var(--poppins-font);
    margin-top: 10px;
}

/* --------Reviews-------- */
.review {
    max-width: 550px;
    margin: auto;
    width: 100%;
}

.review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
}

.review-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 7px solid #fff8f7;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
}

.review-box h2 {
    font-size: 1rem;
    color: var(--main-color);
    font-family: var(--poppins-font);
    font-weight: 500;
    margin: 1rem 0;
}

.review-box span {
    font-size: 1.4rem;
    color: var(--main-color);
    font-weight: 700;
}

.review-box p {
    font-size: 0.9rem;
    font-family: var(--poppins-font);
    color: var(--text-alter-color);
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    border-radius: 0.2rem !important;
    background: var(--main-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--second-color) !important;
    transition: 0.2s all ease-in-out;
}




/* ----------Booking---------- */
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    color: #fff;
}

.book-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    z-index: -1;
}

.book-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    z-index: -1;
}

.book-data {
    margin-top: 4rem;
}

.book-data h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.book-data form {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-color);
    border-radius: 2rem;
    padding: 2px 10px;
    margin: 1rem 0;
}

.input-box {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.input-box .bx {
    color: var(--text-color);
}

.input-box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    background: transparent;
}

.book-btn {
    text-align: center;
    font-family: var(--poppins-font);
    font-size: 0.8rem;
    padding: 10px 14px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 2.5rem;
}

.book-btn:hover {
    background: var(--second-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.book-data p {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}




/* ---------Footer---------- */
.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem !important;
}

.footer .logo {
    color: var(--main-color);
}

.social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.social a {
    font-size: 24px;
    margin-right: 1rem;
    color: var(--main-color);
}

.social a:hover {
    color: var(--second-color);
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-box a {
    color: var(--main-color);
    margin-bottom: 10px;
}

.copyright {
    padding: 30px;
    color: var(--main-color);
    text-align: center;
}





/* --------------------Responsiveness-------------------- */
@media (max-width: 1080px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .product-content {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }
}

@media (max-width: 915px) {
    section {
        padding: 2rem 0;
    }

    .home-text h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 766px) {
    .home {
        min-height: 500px;
        grid-template-columns: 1fr;
        margin-top: 4.5rem !important;
    }

    .home-text {
        order: 1;
    }

    .heading h2,
    .book-data h2 {
        font-size: 1.6rem;
    }

    .product-content {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .book {
        padding: 20px;
    }

    .book-data {
        margin-top: 3rem;
        max-width: 350px;
        width: 100%;
    }

    .book-data form {
        display: grid;
        padding: 15px;
        border-radius: 10px;
    }

    .input-box {
        border-bottom: 1px solid var(--text-alter-color);
    }
    
    .footer {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 700px) {
    header {
        top: 15px;
    }

    .nav {
        padding: 14px 20px;
    }

    .logo {
        font-size: 1.25rem;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%);
        width: 90vw;
        background: var(--text-color);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
    }

    .open-menu-js {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 1;
    }

    .nav-link {
        display: block;
        margin: 1rem 0;
    }
}

@media (max-width: 500px) {
    .heading h2 br {
        display: contents;
    }
    
    .service-content {
        justify-content: center;
    }

    .product-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 380px) {
    .home-text h1 {
        font-size: 2rem;
    }

    .service-content {
        grid-template-columns: repeat(auto-fit, minmax(auto, 140px));
    }

    .ser-box img {
        height: 80px;
        width: 80px;
    }

    p {
        font-size: 0.9rem;
    }

    .heading h2,
    .book-data h2 {
        font-size: 1.2rem;
    }
}